name: 'Deploy'
on:
  workflow_dispatch:

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: 'ubuntu-latest'
    environment: prod
    permissions:
      id-token: write
      contents: read
    env:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      AWS_REGION: ${{ vars.AWS_REGION }}
      DOMAIN_NAME: ${{ vars.DOMAIN_NAME }}
      BACKEND_ECR_REPO_NAME: ${{ vars.BACKEND_ECR_REPO_NAME }}
      CLOUDFRONT_CERTIFICATE_ARN: ${{ secrets.CLOUDFRONT_CERTIFICATE_ARN }}
      ECS_ECR_ADMIN_ARN: ${{ secrets.ECS_ECR_ADMIN_ARN }}
      ECS_TASK_EXECUTION_ARN: ${{ secrets.ECS_TASK_EXECUTION_ARN }}
      # BACKEND
      PORT: ${{ vars.PORT }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      STORAGE_BUCKET_NAME: ${{ vars.STORAGE_BUCKET_NAME }}
      TOKEN_SECRET: ${{ secrets.TOKEN_SECRET }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.12.x
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/gha-deployment
          aws-region: ${{ vars.AWS_REGION }}

      - name: Check if Core Stack is currently deployed
        run: |
          STACK_NAME="CoreStack"
          STACK_STATUS=$(aws cloudformation describe-stacks --stack-name $STACK_NAME --query 'Stacks[0].StackStatus' --output text 2>&1) || true
          
          if [[ "$STACK_STATUS" == "CREATE_COMPLETE" || "$STACK_STATUS" == "UPDATE_COMPLETE" ]]; then
            echo "CoreStack is up and running"
            echo "deployCoreStack=false" >> $GITHUB_ENV
          elif [[ "$STACK_STATUS" == *"Stack with id $STACK_NAME does not exist"* ]]; then
            echo "CoreStack is not up. Will deploy now"
            echo "deployCoreStack=true" >> $GITHUB_ENV
          else
            echo "CoreStack is in an intermittent state. Terminating"
            exit 1
          fi

      - name: Spin up Core Stack
        if: env.deployCoreStack == 'true'
        run: npx cdk deploy CoreStack --require-approval never

      - name: Upload Starter Image to Backend ECR Repository
        if: env.deployCoreStack == 'true'
        run: |
          chmod +x ./scripts/push-starter-image.sh
          ./scripts/push-starter-image.sh

      - name: Spin up Dynamic Stack
        run: npx cdk deploy DynamicStack --require-approval never

      - name: Wait for Domain to be Available
        run: |
          TIMEOUT=180  # Timeout in seconds (3 minutes)
          INTERVAL=5   # Interval between checks in seconds

          for ((i=0; i<$TIMEOUT; i+=$INTERVAL)); do
            if dig +short ${{ vars.DOMAIN_NAME }}; then
              echo "Domain is up. Proceeding with the next step."
              exit 0
            fi
            echo "Waiting for the domain to be up... $i seconds passed."
            sleep $INTERVAL
          done

          echo "Domain did not become available within 3 minutes. Exiting with failure."
          exit 1

  update-site:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: read
    needs: deploy
    steps:
      - name: Trigger Frontend Deployment
        uses: actions/github-script@v7.0.1
        with:
          github-token: ${{ secrets.CHATTER_PAT }}
          script: |
            await github.rest.repos.createDispatchEvent({
              owner: 'bouzomgi',
              repo: 'chatter-fe',
              event_type: 'trigger-deployment',
              client_payload: {}
            });

  update-api:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: read
    needs: deploy
    steps:
      - name: Trigger Backend Deployment
        uses: actions/github-script@v7.0.1
        with:
          github-token: ${{ secrets.CHATTER_PAT }}
          script: |
            await github.rest.repos.createDispatchEvent({
              owner: 'bouzomgi',
              repo: 'chatter-be',
              event_type: 'trigger-deployment',
              client_payload: {}
            });