name: 'Deploy Core'
on:
  workflow_dispatch:
  push:
    branches:
      - main

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  # deploy-core:
  #   runs-on: 'ubuntu-latest'
  #   environment: prod
  #   permissions:
  #     id-token: write
  #     contents: read
  #   env:
  #     CDK_DEFAULT_ACCOUNT: ${{ secrets.AWS_ACCOUNT_ID }}
  #     CDK_DEFAULT_REGION: ${{ vars.AWS_REGION }}
  #     DOMAIN_NAME: ${{ vars.DOMAIN_NAME }}
  #     CLOUDFRONT_CERTIFICATE_ARN: ${{ secrets.CLOUDFRONT_CERTIFICATE_ARN }}
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Setup Node
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 20.12.x
  #         cache: npm

  #     - name: Install Dependencies
  #       run: npm ci

  #     - name: Configure AWS Credentials
  #       uses: aws-actions/configure-aws-credentials@v4
  #       with:
  #         role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/gha-deployment
  #         aws-region: ${{ vars.AWS_REGION }}

  #     - name: Spin up Core Stack
  #       run: npx cdk deploy CoreStack --require-approval never

  upload-site:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: read
    steps:
      - name: Trigger Frontend Deployment
        env:
          GITHUB_TOKEN: ${{ secrets.CHATTER_PAT }}
        run: |
            curl -H "Authorization: token $GITHUB_TOKEN" \
            -X POST \
            -d '{"event_type": "trigger-deployment"}' \
            https://api.github.com/repos/Bouzomgi/chatter-fe/dispatches